<p-toolbar>
    <div class="p-toolbar-group-left">
        <div class="container">
            <h1>Tech-Shop</h1>
            <button pButton pRipple type="button" label="Home" icon="pi pi-home" class="p-button-outlined" routerLink="/"></button>
            <button pButton pRipple type="button" label="Catalog" icon="pi pi-list" class="p-button-outlined" routerLink="/products"></button>
        </div>
    </div>

    <div class="p-toolbar-group-right">
        <div class="container">
            <button pButton pRipple type="button" label="Cart" icon="pi pi-shopping-cart" class="p-button-outlined" routerLink="/cart"></button>
            <button pButton pRipple type="button" label="Register" icon="pi pi-user-plus" class="p-button-outlined" routerLink="/authentication/register"></button>
            <button pButton pRipple type="button" label="Login" icon="pi pi-users" class="p-button-outlined" routerLink="/authentication/login"></button>
        </div>
    </div>
</p-toolbar>