/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
}
.card{
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}
