<div class="container">
    <p-carousel [value]="products" styleClass="custom-carousel" [numVisible]="3" [numScroll]="1" [circular]="true" [autoplayInterval]="3000" [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div class="product-item">
                <div class="product-item-content">
                    <div class="mb-3">
                        <a href="">
                            <img src="{{product.imagePath}}" [alt]="product.name" class="product-image" />
                        </a>
                    </div>
                    <div>
                        <h3 class="mb-1">{{product.name}}</h3>
                        <h4 class="mt-0 mb-3">${{product.price}}</h4>
                        <div class="buttons">
                            <p-button type="button" styleClass="p-button-outlined p-button-rounded p-mr-2" icon="pi pi-shopping-cart"></p-button>
                        </div>
                    </div>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>